@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body {
  height: 100vh;
  background: url(https://subtlepatterns.com/patterns/sativa.png) repeat fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: -8px !important;
}

.login-container {
  width: 300px;
  position: fixed;
  left: 45%;
  top: 30%;
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
  box-shadow: 2px 4px 58px -20px rgba(0, 0, 0, 1);
}

.login-box-header {
  background-color: #3f51b5;
  text-align: center;
  font-size: 1.0em;
  padding: 2%;
  color: #fff;
}

.login-box-body {
  width: auto;
  height: 100%;
  padding: 5% 5% 5% 5%;
  color: #fafafa;
}

.login-icon {
  margin-top: -2px;
}

.justifier {
  width: 100%;
  padding-bottom: 2%;
}

.login-button {
  width: 100%;
  padding: 1.5% !important;
  background-color: rgba(0, 0, 0, 0.26);
  font-size: 1.5em;
  color: #fff !important;
}

.angular-image {
  vertical-align: middle;
  border-style: none;
  height: 2.5em;
  position: sticky;
  right: 55%;

}
