.main-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-sidenav {
  padding: 20px;
}

.main-spacer {
  flex: 1 1 auto;
}

.main-expansion-panel-description {
  flex-grow: 20;
}

.main-toggle-group{
  width: 100%;
}
